@model SlotsModel


<ul class="pt-2 list-group">
    @foreach (var pair in Model.spellSlots)
    {
        <li class="list-group-item">
            <div class="row ps-3">
                <div class="row pe-0">
                    <div class="col-6 fs-4 ps-0">
                        @pair.Item1
                    </div>
                    <div class="col-6 pe-0 d-flex justify-content-end align-items-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm">Restore</button>
                            <button type="button" class="btn btn-success btn-sm">Use</button>
                        </div>
                    </div>
                </div>

                <div class="row p-2 pt-0 form-check-inline">
                    @foreach (var slot in pair.Item2)
                    {
                        <input class="ms-2 mt-2 form-check-input big-checkbox" type="checkbox" id="inlineCheckbox1"
                               value="">
                    }
                </div>
            </div>
        </li>
    }

</ul>
